<section class="container about-hotel__container">
  <div class="about-hotel__logo-article">
    <p class="pre-section-title">Amet minim mollit non</p>
    <h3 class="section-title">Mimino</h3>
    <p class="after-section-title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="about-hotel__photo-container">
    <div class="helper-div1">
      <picture>
        <source
          srcset="
            ./img/desktop/about-numbers/number1x1.webp 1x,
            ./img/desktop/about-numbers/number1x2.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/desktop/about-numbers/number1x1.jpg 1x,
            ./img/desktop/about-numbers/number1x2.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/tablet/about-numbers/number1x1.webp 1x,
            ./img/tablet/about-numbers/number1x2.webp 2x
          "
          media="(min-width: 1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/tablet/about-numbers/number1x1.jpg 1x,
            ./img/tablet/about-numbers/number1x2.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/mobile/about-numbers/number1x1.webp 1x,
            ./img/mobile/about-numbers/number1x2.webp 2x
          "
          media="(max-width: 1023px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/mobile/about-numbers/number1x1.jpg 1x,
            ./img/mobile/about-numbers/number1x2.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
        />
        <img src="./img/desktop/about-numbers/number1x1.jpg" alt="Kitchen" />
      </picture>
    </div>
  </div>
  <div class="about-hotel__down-container">
    <div class="helper-div1">
      <picture>
        <source
          srcset="
            ./img/desktop/about-numbers/number2x1.webp 1x,
            ./img/desktop/about-numbers/number2x2.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/desktop/about-numbers/number2x1.jpg 1x,
            ./img/desktop/about-numbers/number2x2.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/tablet/about-numbers/number2x1.webp 1x,
            ./img/tablet/about-numbers/number2x2.webp 2x
          "
          media="(min-width: 1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/tablet/about-numbers/number2x1.jpg 1x,
            ./img/tablet/about-numbers/number2x2.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/mobile/about-numbers/number2x1.webp 1x,
            ./img/mobile/about-numbers/number2x2.webp 2x
          "
          media="(max-width: 1023px)"
          type="image/webp"
          src="./img/mobile/about-numbers/number2x1.webp"
        />
        <source
          srcset="
            ./img/mobile/about-numbers/number2x1.jpg 1x,
            ./img/mobile/about-numbers/number2x2.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
        />
        <img src="./img/desktop/about-numbers/number2x1.jpg" alt="number2" />
      </picture>
    </div>

    <p class="about-hotel__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="about-hotel__gallery-container">
    <picture>
      <source
        srcset="
          ./img/desktop/about-numbers/gallery-element2x1.webp 1x,
          ./img/desktop/about-numbers/gallery-element2x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/desktop/about-numbers/gallery-element2x1.jpg 1x,
          ./img/desktop/about-numbers/gallery-element2x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./img/tablet/about-numbers/gallery-element2x1.webp 1x,
          ./img/tablet/about-numbers/gallery-element2x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/tablet/about-numbers/gallery-element2x1.jpg 1x,
          ./img/tablet/about-numbers/gallery-element2x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./img/mobile/about-numbers/gallery-element2x1.webp 1x,
          ./img/mobile/about-numbers/gallery-element2x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/mobile/about-numbers/gallery-element2x1.jpg 1x,
          ./img/mobile/about-numbers/gallery-element2x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
      />
      <img
        src="./img/desktop/about-numbers/gallery-element2x1.jpg"
        alt="Flower"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/desktop/about-numbers/gallery-element1x1.webp 1x,
          ./img/desktop/about-numbers/gallery-element1x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/desktop/about-numbers/gallery-element1x1.jpg 1x,
          ./img/desktop/about-numbers/gallery-element1x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./img/tablet/about-numbers/gallery-element1x1.webp 1x,
          ./img/tablet/about-numbers/gallery-element1x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/tablet/about-numbers/gallery-element1x1.jpg 1x,
          ./img/tablet/about-numbers/gallery-element1x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./img/mobile/about-numbers/gallery-element1x1.webp 1x,
          ./img/mobile/about-numbers/gallery-element1x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/mobile/about-numbers/gallery-element1x1.jpg 1x,
          ./img/mobile/about-numbers/gallery-element1x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
      />
      <img
        src="./img/desktop/about-numbers/gallery-element1x1.jpg"
        alt="Hinkali"
      />
    </picture>
  </div>
  <div class="about-hotel__sgv">
    <button class="arrows__button">
      <svg width="32px" height="32px" class="about-hotel__svg-icon">
        <use href="./img/sprite.svg#icon-left-arrow-small"></use>
      </svg>
    </button>
    <button class="arrows__button">
      <svg width="32px" height="32px" class="about-hotel__svg-icon">
        <use href="./img/sprite.svg#icon-right-arrow-small"></use>
      </svg>
    </button>
  </div>
</section>
