<div class="container about-restaurant__container">
  <div class="about-restaurant__logo-article">
    <p class="about-restaurant-logo__up-text">Amet minim mollit non</p>
    <h3 class="about-restaurant__logo">Mimino</h3>
    <p class="about-restaurant-logo__down-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="about-restaurant__photo-container">
    <picture>
      <source
        srcset="
          ./img/desktop/about-restaurant-up/pic1x1.webp 1x,
          ./img/desktop/about-restaurant-up/pic1x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/about-restaurant-up/pic1x1.webp"
      />
      <source
        srcset="
          ./img/desktop/about-restaurant-up/pic1x1.jpg 1x,
          ./img/desktop/about-restaurant-up/pic1x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/about-restaurant-up/pic1x1.jpg"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/pic1x1.webp 1x,
          ./img/tablet/about-restaurant-up/pic1x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/about-restaurant-up/pic1x1.webp"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/pic1x1.jpg 1x,
          ./img/tablet/about-restaurant-up/pic1x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/about-restaurant-up/pic1x1.jpg"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/pic1x1.webp 1x,
          ./img/mobile/about-restaurant-up/pic1x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/about-restaurant-up/pic1x1.webp"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/pic1x1.jpg 1x,
          ./img/mobile/about-restaurant-up/pic1x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/about-restaurant-up/pic1x1.jpg"
      />
      <img src="./img/desktop/about-restaurant-up/pic1x1.jpg" alt="Kitchen" />
    </picture>
  </div>
  <div class="about-restaurant__down-container">
    <picture>
      <source
        srcset="
          ./img/desktop/about-restaurant-up/pic2x1.webp 1x,
          ./img/desktop/about-restaurant-up/pic2x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/about-restaurant-up/pic2x1.webp"
      />
      <source
        srcset="
          ./img/desktop/about-restaurant-up/pic2x1.jpg 1x,
          ./img/desktop/about-restaurant-up/pic2x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/about-restaurant-up/pic2x1.jpg"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/pic2x1.webp 1x,
          ./img/tablet/about-restaurant-up/pic2x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/about-restaurant-up/pic2x1.webp"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/pic2x1.jpg 1x,
          ./img/tablet/about-restaurant-up/pic2x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/about-restaurant-up/pic2x1.jpg"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/pic2x1.webp 1x,
          ./img/mobile/about-restaurant-up/pic2x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/about-restaurant-up/pic2x1.webp"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/pic2x1.jpg 1x,
          ./img/mobile/about-restaurant-up/pic2x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/about-restaurant-up/pic2x1.jpg"
      />
      <img src="./img/desktop/about-restaurant-up/pic2x1.jpg" alt="pic2" />
    </picture>

    <p class="about-restaurant__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="about-restaurant__gallery-container">
    <picture>
      <source
        srcset="
          ./img/desktop/about-restaurant-up/gallery-element1x1.webp 1x,
          ./img/desktop/about-restaurant-up/gallery-element1x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/about-restaurant-up/gallery-element1x1.webp"
      />
      <source
        srcset="
          ./img/desktop/about-restaurant-up/gallery-element1x1.jpg 1x,
          ./img/desktop/about-restaurant-up/gallery-element1x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/about-restaurant-up/gallery-element1x1.jpg"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/gallery-element1x1.webp 1x,
          ./img/tablet/about-restaurant-up/gallery-element1x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/about-restaurant-up/gallery-element1x1.webp"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/gallery-element1x1.jpg 1x,
          ./img/tablet/about-restaurant-up/gallery-element1x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/about-restaurant-up/gallery-element1x1.jpg"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/gallery-element1x1.webp 1x,
          ./img/mobile/about-restaurant-up/gallery-element1x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/about-restaurant-up/gallery-element1x1.webp"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/gallery-element1x1.jpg 1x,
          ./img/mobile/about-restaurant-up/gallery-element1x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/about-restaurant-up/gallery-element1x1.jpg"
      />
      <img
        src="./img/desktop/about-restaurant-up/gallery-element1x1.jpg"
        alt="Flower"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/desktop/about-restaurant-up/gallery-element2x1.webp 1x,
          ./img/desktop/about-restaurant-up/gallery-element2x2.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
        src="./img/desktop/about-restaurant-up/gallery-element2x1.webp"
      />
      <source
        srcset="
          ./img/desktop/about-restaurant-up/gallery-element2x1.jpg 1x,
          ./img/desktop/about-restaurant-up/gallery-element2x2.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        src="./img/desktop/about-restaurant-up/gallery-element2x1.jpg"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/gallery-element2x1.webp 1x,
          ./img/tablet/about-restaurant-up/gallery-element2x2.webp 2x
        "
        media="(min-width: 1024px)"
        type="image/webp"
        src="./img/tablet/about-restaurant-up/gallery-element2x1.webp"
      />
      <source
        srcset="
          ./img/tablet/about-restaurant-up/gallery-element2x1.jpg 1x,
          ./img/tablet/about-restaurant-up/gallery-element2x2.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        src="./img/tablet/about-restaurant-up/gallery-element2x1.jpg"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/gallery-element2x1.webp 1x,
          ./img/mobile/about-restaurant-up/gallery-element2x2.webp 2x
        "
        media="(max-width: 1023px)"
        type="image/webp"
        src="./img/mobile/about-restaurant-up/gallery-element2x1.webp"
      />
      <source
        srcset="
          ./img/mobile/about-restaurant-up/gallery-element2x1.jpg 1x,
          ./img/mobile/about-restaurant-up/gallery-element2x2.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        src="./img/mobile/about-restaurant-up/gallery-element2x1.jpg"
      />
      <img
        src="./img/desktop/about-restaurant-up/gallery-element2x1.jpg"
        alt="Hinkali"
      />
    </picture>
  </div>
  <div class="about-restaurant__sgv">
    <button class="arrows__button">
      <svg width="32px" height="32px" class="about-restaurant__svg-icon">
        <use href="./img/sprite.svg#icon-left-arrow-small"></use>
      </svg>
    </button>
    <button class="arrows__button">
      <svg width="32px" height="32px" class="about-restaurant__svg-icon">
        <use href="./img/sprite.svg#icon-right-arrow-small"></use>
      </svg>
    </button>
  </div>
</div>
