<section class="contacts">
    <div class="container">
        <h1 class="visually-hidden">Section contacts</h1>
        <div class="contacts-wrap">
            <div class="contacts-left">
                <div class="contacts-logo">
                    <a class="contacts-logo-text" href="./index.html">MIMIHO</a>

                    <p class="contacts-logo-title">Ресторанно-готельний комплекс</p>
                </div>
                <div class="contacts-restaurant">
                    <span class="contacts-restaurant-text">Ресторан</span>
                    <div class="contacts-tel-wrap">
                        <svg width="24px" height="24px" class="contacts-tel-icon">
                            <use href="./img/sprite.svg#icon-phone"></use>
                        </svg>
                        <a class="contacts-tel" href="tel:+380955559533">095 555 95 33</a>

                    </div>
                </div>
                <div class="contacts-hotel">
                    <span class="contacts-hotel-text">Готель</span>
                    <div class="contacts-hotel-tel-wrap">
                        <svg width="24px" height="24px" class="contacts-tel-icon">
                            <use href="./img/sprite.svg#icon-phone"></use>
                        </svg>
                        <a class="contacts-tel" href="tel:+380668491089">066 849 10 89</a>
                        <a class="contacts-tel" href="tel:+380672758540">067 275 85 40</a>
                    </div>
                </div>
                <div class="contacts-address">
                    <svg width="24px" height="24px" class="contacts-address-icon">
                        <use href="./img/sprite.svg#icon-location"></use>
                    </svg>
                    <a class="contacts-address-text" href="https://goo.gl/maps/Thj7MZooN1T6FweK6">Україна, м. Полтава,
                        вул. Маршала Бірюзова, 15</a>
                </div>
            </div>
            <div class="contacts-right">
                <div class="contacts-map">
                    <picture>
                        <source srcset="
                              ./img/desktop/map/mapx1.webp 1x,
                              ./img/desktop/map/mapx2.webp 2x
                            " media="(min-width: 1280px)" type="image/webp" />
                        <source srcset="
                              ./img/desktop/map/mapx1.png 1x,
                              ./img/desktop/map/mapx2.png 2x
                            " media="(min-width: 1280px)" type="image/png" />
                        <source srcset="
                              ./img/tablet/map/mapx1.webp 1x,
                              ./img/tablet/map/mapx2.webp 2x
                            " media="(min-width: 1024px)" type="image/webp" />
                        <source srcset="
                              ./img/tablet/map/mapx1.png 1x,
                              ./img/tablet/map/mapx2.png 2x
                            " media="(min-width: 1024px)" type="image/png" />
                        <source srcset="
                              ./img/mobile/map/mapx1.webp 1x,
                              ./img/mobile/map/mapx2.webp 2x
                            " media="(max-width: 1023px)" type="image/webp" />
                        <source srcset="
                              ./img/mobile/map/mapx1.png 1x,
                              ./img/mobile/map/mapx2.png 2x
                            " media="(max-width: 1023px)" type="image/png" />
                        <img src="./img/mobile/map/mapx1.png" alt="Map" />
                    </picture>
                </div>


            </div>
        </div>

    </div>

</section>