<section class="contacts">
    <div class="container">
        <h1 class="visually-hidden">Section contacts</h1>
        <div class="contacts-wrap">
            <div class="contacts-left">
                <div class="contacts-logo">
                    <span class="contacts-logo-text">MIMIHO</span>
                    <p class="contacts-logo-title">Ресторанно-готельний комплекс</p>
                </div>
                <div class="contacts-restaurant">
                    <span class="contacts-restaurant-text">Ресторан</span>
                    <svg width="24px" height="24px" class="contacts-tel-icon">
                        <use href="./img/sprite.svg#icon-phone"></use>
                    </svg>
                    <a class="contacts-restaurant-tel" href="tel:+380955559533">095 555 95 33</a>
                </div>
                <div class="contacts-hotel">
                    <span class="contacts-hotel-text">Готель</span>
                    <p class="contacts-hotel-tel-wrap">
                        <svg width="24px" height="24px" class="contacts-tel-icon">
                            <use href="./img/sprite.svg#icon-phone"></use>
                        </svg>
                        <a class="contacts-hotel-tel" href="tel:+380668491089">066 849 10 89</a>
                        <a class="contacts-hotel-tel" href="tel:+380672758540">067 275 85 40</a>
                    </p>
                </div>
                <div class="contacts-address">
                    <svg width="24px" height="24px" class="contacts-address-icon">
                        <use href="./img/sprite.svg#icon-location"></use>
                    </svg>
                    <span class="contacts-address-text">Україна, м. Полтава, вул. Маршала Бірюзова, 15</span>
                </div>
            </div>
            <div class="contacts-right">
                <div class="contacts-map">
                    <img src="../img/mobile/map/mapx1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>