<footer class="footer">
    <div class="container footer-container">
      <div class="footer-logo-section">
        <a class="footer-logo-link" href="."> MIMINO </a>
      </div>
      <div class="footer-right-section">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-link" href=".">Головна</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./hotel.html">Готель</a>
          </li>
        </ul>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a href="https://www.instagram.com/" target="_blank" class="footer-soc-link"
              ><span class="footer-soc-text">Instagram</span>
              <svg class="footer-soc-icon" width="24px" height="24px">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="https://www.facebook.com/" target="_blank" class="footer-soc-link"
              ><span class="footer-soc-text">Facebook</span>
              <svg class="footer-soc-icon" width="24px" height="24px">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="https://www.telegram.com/" target="_blank" class="footer-soc-link"
              ><span class="footer-soc-text">Telegram</span>
              <svg class="footer-soc-icon" width="24px" height="24px">
                <use href="./img/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>