<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="hero hero-restaurant">
            <div class="container hero-container">
                <h1 class="mimino-tittle hero-restaurant-tittle">Міміно</h1>
                <h2 class="hero-tittle2 hero-restaurant-tittle2">Ресторан</h2>
                <p class="hero-paragraph">Смак життя 24/7<p></p>
                <ul class="hero-list">
                    <li class="hero-list-item"><a href="https://goo.gl/maps/Thj7MZooN1T6FweK6" class="hero-adress">
                        <svg class="hero-adress-icon" width="24px" height="24px">
                            <use href="./img/sprite.svg#icon-location"></use>
                        </svg>
                        <address class="hero-adress-paragraph">Україна, м. Полтава, <br />
                            вул. Маршала Бірюзова, 15</address>
                    </a></li>
                    <li class="hero-list-item"><button class="hero-button js-open-modal" type="button" data-modal="1">Забронювати столик</button></li>
                    <li class="hero-list-item"><a href="#menu" class="hero-button" type="button">Переглянути меню</a></li>
                </ul>
                <ul class="hero-social-list">
                    <li class="hero-social-item"><a href="https://www.instagram.com" target="_blank">
                        <svg class="hero-social-icon" width="24px" height="24px">
                            <use href="./img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-social-item">
                    <a href="https://uk-ua.facebook.com" target="_blank" >
                        <svg class="hero-social-icon" width="24px" height="24px">
                            <use href="./img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-social-item">
                    <a href="https://web.telegram.org/z/" target="_blank">
                        <svg class="hero-social-icon" width="24px" height="24px">
                            <use href="./img/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                </ul>
            </div>
        </section>
    </main>
    
</body>
</html>