<section class="hero hero-hotel">
  <div class="container hero-container">
    <h1 class="mimino-tittle hotel-tittle">Міміно</h1>
    <h2 class="hero-tittle2 hotel-tittle2">Готель</h2>
    <ul class="hero-list">
      <li hero-list-item>
        <a href="https://goo.gl/maps/Thj7MZooN1T6FweK6" class="hero-adress">
          <svg class="hero-adress-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <address class="hero-adress-paragraph">
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15
          </address>
        </a>
      </li>
      <li hero-list-item>
        <button class="hero-button js-open-modal" type="button" data-modal="2">
          Забронювати номер
        </button>
      </li>
      <li hero-list-item>
        <button class="hero-button js-open-modal" type="button" data-modal="3">
          Переглянути ціни
        </button>
      </li>
    </ul>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a href="https://www.instagram.com" target="_blank">
          <svg class="hero-social-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="https://uk-ua.facebook.com" target="_blank">
          <svg class="hero-social-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="https://web.telegram.org/z/" target="_blank">
          <svg class="hero-social-icon" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
