<section class="room hero">
  <div class="container room__container">
    <ul class="slider__list">
      <li class="slider__item">
        <a class="slider__link" href="">
          <svg class="slider__icon" width="40" height="40">
            <use class="icon--arrowRight" href="./img/sprite.svg#icon-left-arrow-big"></use>
          </svg>
        </a>
      </li>
      <li class="slider__item">
        <a class="slider__link" href="">
          <svg class="slider__icon" width="40" height="40">
            <use class="icon--arrowLeft" href="./img/sprite.svg#icon-right-arrow-big"></use>                </svg>
        </a>
      </li>
    </ul>
    <div class="room-address">
      <a class="room-address__link" href="">
        <svg class="room-address__icon">
          <use class="icon--location" href="./img/sprite.svg#icon-location"></use>
        </svg>
        <address class="room-addres__text">Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15</address>
      </a>
    </div>
    <div class="room__thumb">
      <h1 class="room-hero__title">Двомісний номер <span class="room__title--small">люкс</span></h1>
      <p class="room-hero__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <ul class="hero-socials__list">
      <li class="hero-social__item">
        <a class="hero-social__link" href="">
          <svg class="hero-social__icon">
            <use class="icon--instagram" href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a class="hero-social__link" href="">
          <svg class="hero-social__icon">
            <use class="icon--facebook" href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a class="hero-social__link" href="">
          <svg class="hero-social__icon">
            <use class="icon--telegram" href="./img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="btn hero__btn room-hero__btn js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
  </div>
</section>