<section class="amenities">
  <div class="container room__container">
    <h2 class="amenities__title amenities__section-title">Зручності у номері</h2>
    <p class="amenites__text amenities__section-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul class="amenities__list">
      <li class="amenities__item">
        <h3 class="amenities__title">Загальні</h3>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title">Ванна кімната</h3>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title">Спальня</h3>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title">Кухня</h3>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title">Медіа</h3>
        <p class="amenites__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      </li>
    </ul>
    <div class="next">
      <button class="btn booking-btn js-open-modal" data-modal="2" type="button">Оформити бронювання</button>
      <a class="return__link" href="./hotel.html">
        <p class="return__text">Повернутися до перегляду номерів</p>
        <svg class="return__icon">
          <use class="icon--arrowRight" href="./img/sprite.svg#icon-right-arrow-small"></use>
        </svg>
      </a>
    </div>
  </div>
</section>