<!-- <link rel="stylesheet" href="/src/css/styles.css" /> -->
    

<section class="room-1">
    <div class="container">
        
        <div class="room-text-box">
  
        <p class="room-text-up">Amet minim mollit non</p>
        <p class="room-logo">MIMIHO</p>
  
        <h2 class="room-tittle">ДВОМІСНИЙ НОМЕР люкс</h2>
        <div class="room-text-about">
            <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        
  
        </div>
  
        
            <picture class="room-first-image">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/number1x1.webp 1x,
                    ./img/desktop/hotel-numbers/number1x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/number1x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/number1x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/number1x1.webp 1x,
                    ./img/tablet/hotel-numbers/number1x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/number1x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/number1x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/number1x1.webp 1x,
                    ./img/mobile/hotel-numbers/number1x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/number1x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/number1x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/number1x1.jpeg"
                  alt="апартаменти з двоспальним ліжком"
                />
              </picture>
       
  
  
        <div class="room-slide-box">
            <picture class="slide-1">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/desktop/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/tablet/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/mobile/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/gallery-element2x1.jpeg"
                  alt="вікно готелю та чашка кави"
                />
              </picture>
  
              <picture class="slide-2">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/desktop/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/tablet/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/mobile/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/gallery-element1x1.jpeg"
                  alt="раковина"
                />
              </picture>
        </div>
        <div class="arrows">
            <button class="left-arrow" type="button" width="32px" height="32px">
                <svg width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-left-arrow-small"></use>
                </svg>
               </button>
    
               <button class="right-arrow" type="button" width="32px" height="32px">
                <svg width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-right-arrow-small"></use>
                </svg>
               </button>
        </div>
  
        <div class="room-buttons">
            
                <a class="room-button-1" href="../room.html"> Детальніше</a>
            
                <button class="room-button-2 js-open-modal" type="button" data-modal="3">Переглянути ціни</button>
        </div>
  
  
    </div>
  </section>
  
  <section class="room-2">
    <div class="container">
        
        <div class="room-text-box-mirror">
            <p class="room-text-up-mirror">Amet minim mollit non</p>
        <p class="room-logo-mirror">MIMIHO</p>
  
        <h2 class="room-tittle-mirror">ТРЬОХМІСНИЙ НОМЕР</h2>
        <div class="room-text-about-mirror">
            <p class="room-text-mirror">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        </div>
  
        
        
  
        
  
        
            <picture class="room-first-image-mirror">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/number1x1.webp 1x,
                    ./img/desktop/hotel-numbers/number1x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/number1x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/number1x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/number1x1.webp 1x,
                    ./img/tablet/hotel-numbers/number1x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/number1x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/number1x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/number1x1.webp 1x,
                    ./img/mobile/hotel-numbers/number1x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/number1x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/number1x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/number1x1.jpeg"
                  alt="апартаменти з двоспальним ліжком"
                />
              </picture>
        
  
  
        <div class="room-slide-box-mirror">
            <picture class="slide-1">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/desktop/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/tablet/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/mobile/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/gallery-element2x1.jpeg"
                  alt="вікно готелю та чашка кави"
                />
              </picture>
  
              <picture class="slide-2">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/desktop/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/tablet/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/mobile/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/gallery-element1x1.jpeg"
                  alt="раковина"
                />
              </picture>
        </div>
  
        <div class="arrows-mirror">
            <button class="left-arrow-mirror" type="button" width="32px" height="32px">
                <svg width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-left-arrow-small"></use>
                </svg>
               </button>
    
               <button class="right-arrow-mirror" type="button" width="32px" height="32px">
                <svg width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-right-arrow-small"></use>
                </svg>
               </button>
        </div>
  
  
        <div class="room-buttons-mirror">
            
            <a class="room-button-1-mirror" href="../room.html"> Детальніше</a>
        
            <button class="room-button-2-mirror js-open-modal" type="button" data-modal="3">Переглянути ціни</button>
    </div>
  
  
    </div>
  </section>
  
  <section class="room-3">
    <div class="container">
        
        <div class="room-text-box">
  
        <p class="room-text-up">Amet minim mollit non</p>
        <p class="room-logo">MIMIHO</p>
  
        <h2 class="room-tittle">ДВОМІСНИЙ НОМЕР</h2>
        <div class="room-text-about">
            <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        
  
        </div>
  
        
            <picture class="room-first-image">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/number1x1.webp 1x,
                    ./img/desktop/hotel-numbers/number1x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/number1x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/number1x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/number1x1.webp 1x,
                    ./img/tablet/hotel-numbers/number1x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/number1x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/number1x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/number1x1.webp 1x,
                    ./img/mobile/hotel-numbers/number1x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/number1x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/number1x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/number1x1.jpeg"
                  alt="апартаменти з двоспальним ліжком"
                />
              </picture>
        
  
  
        <div class="room-slide-box">
            <picture class="slide-1">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/desktop/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/tablet/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element2x1.webp 1x,
                    ./img/mobile/hotel-numbers/gallery-element2x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element2x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/gallery-element2x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/gallery-element2x1.jpeg"
                  alt="вікно готелю та чашка кави"
                />
              </picture>
  
              <picture class="slide-2">
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/desktop/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/desktop/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/desktop/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                
  
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/tablet/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/tablet/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/tablet/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element1x1.webp 1x,
                    ./img/mobile/hotel-numbers/gallery-element1x2.webp 2x
                  "
                  media="(max-width: 1023px)"
                />
                <source
                  srcset="
                    ./img/mobile/hotel-numbers/gallery-element1x1.jpeg 1x,
                    ./img/mobile/hotel-numbers/gallery-element1x2.jpeg 2x
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="./img/mobile/hotel-numbers/gallery-element1x1.jpeg"
                  alt="раковина"
                />
              </picture>
        </div>
        <div class="arrows">
            <button class="left-arrow" type="button" width="32px" height="32px">
                <svg width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-left-arrow-small"></use>
                </svg>
               </button>
    
               <button class="right-arrow" type="button" width="32px" height="32px">
                <svg width="32px" height="32px">
                    <use href="./img/sprite.svg#icon-right-arrow-small"></use>
                </svg>
               </button>
        </div>
  
        <div class="room-buttons">
            
                <a class="room-button-1" href="../room.html"> Детальніше</a>
            
                <button class="room-button-2 js-open-modal" type="button" data-modal="3">Переглянути ціни</button>
        </div>
  
  
    </div>
  </section>