.about-hotel__container {
  position: relative;
  background: #fffdee;
  border: 1px solid #000000;
}

.about-hotel-logo__up-text {
  font-weight: 400;
  color: #b4b4b4;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
  text-align: right;
}

.about-hotel__logo {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  letter-spacing: 0.3em;
  color: var(--mimino);
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: right;
}

.about-hotel-logo__down-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin-bottom: 28px;
  margin-left: auto;
}

.about-hotel__down-container {
  display: flex;
  align-items: center;
  width: max-content;
  margin-left: auto;
}

.helper-div1 {
  order: 1;
}

.about-hotel__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--brown);
}

.about-hotel__gallery-container {
  display: flex;
}

.about-hotel__sgv {
  display: flex;
  gap: 32px;
  margin-left: auto;
  justify-content: flex-start;
  fill: #000;
}

.arrows__button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .about-hotel__container {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .about-hotel-logo__up-text {
    font-size: 32px;
    line-height: 37px;
  }

  .about-hotel__logo {
    font-size: 64px;
    line-height: 69px;
  }

  .about-hotel-logo__down-text {
    font-size: 16px;
    line-height: 20px;
    max-width: 518px;
  }

  .about-hotel__photo-container {
    position: absolute;
    top: -33px;
    left: 95px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  .about-hotel__down-container {
    gap: 32px;
    margin-top: 162px;
    margin-bottom: 115px;
  }

  .about-hotel__down-container img {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  .about-hotel__text {
    font-size: 16px;
    line-height: 20px;
    max-width: 312px;
  }

  .about-hotel__gallery-container {
    position: absolute;
    gap: 40px;
    left: 15px;
    bottom: 122px;
  }

  .about-hotel__gallery-container img {
    border: 1px solid rgba(186, 186, 186, 0.4);
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .about-hotel__container {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  .about-hotel-logo__up-text {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 4px;
  }

  .about-hotel__logo {
    font-size: 64px;
    line-height: 69px;
    margin-bottom: 24px;
  }

  .about-hotel-logo__down-text {
    max-width: 439px;
    font-size: 16px;
    line-height: 20px;
  }

  .about-hotel__photo-container {
    position: absolute;
    top: -30px;
    left: 52px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  .about-hotel__down-container {
    gap: 48px;
    margin-top: 142px;
    margin-bottom: 183px;
  }

  .about-hotel__down-container img {
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  .about-hotel__text {
    max-width: 312px;
    font-size: 16px;
    line-height: 20px;
  }

  .about-hotel__gallery-container {
    position: absolute;
    justify-content: flex-start;
    gap: 40px;
    bottom: 96px;
    left: 15px;
  }

  .about-hotel__gallery-container img {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 1023px) {
  .about-hotel__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .about-hotel-logo__down-text {
    max-width: 258px;
  }

  .about-hotel__photo-container {
    width: max-content;
    margin-right: auto;
    margin-top: 28px;
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  .about-hotel__down-container {
    gap: 20px;
    margin-bottom: 32px;
    margin-bottom: 297px;
  }

  .about-hotel__down-container img {
    min-width: 200px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  .about-hotel__text {
    max-width: 163px;
  }

  .about-hotel__gallery-container {
    width: calc(100% + 30px);
    overflow: hidden;
    position: absolute;
    left: -180px;
    bottom: 72px;
    gap: 24px;
  }

  .about-hotel__gallery-container img {
    min-width: 245px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
}
