@font-face {
  font-family: 'FilmP3';
  src: url('../fonts/FilmP3/FilmP3Bold.woff2') format('woff2'),
    url('../fonts/FilmP3/FilmP3Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

:root {
  --white: #ffffff;
  --fon-lemon: #fffdee;
  --black: #000000;
  --akzent-yellow: #f3c653;
  --fon-dark-lemon: #f0ecd6;
  --brown: #c79002;
  --color-footer: #0e0c07;
  --primary-color: #7a7a7a;
  --gray-1: #b4b4b4;
  --gray-2: #bababa;
  --mimino: #494848;
}

body {
  background-color: var(--fon-lemon);
  color: var(--primary-color);

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }
}


/* ------------HEADER----------- */

.header {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
}

.header-container {
  display: flex;
  
}

.header-logo {
font-family: 'FilmP3';
font-style: normal;
font-size: 36px;
line-height: 1.083;
letter-spacing: 0.3em;
margin-right: 52px;
padding-top: 17px;
padding-bottom: 87px;
color: var(--white);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 94px;
  gap: 6px;
}

.navigation-adress {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--akzent-yellow);
}
.header-adress {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding: 8px 8px 8px 8px;
  
}

.navigation-adress-paragraph {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.01em;
color: #E5E5E5;
}

@media screen and (max-width:413px){
 .header-logo {
  margin-right: 15px;
  font-size: 30px;
 }
  .header {
  width: 100%;
 }

 .navigation-list {
  padding-top: 20px;
 }
 


  .navigation-adress {
    font-size: 13px;
    
  }
  
}

@media screen and (max-width:1023px) {
  .header-tel {
    display: none;
  }

  .header-social {
    display: none;
  }

  .hero-adress {
    display: none ;
  }
  
}
@media screen and (min-width: 1024px) {
  .header-adress {
    display: none;
  }
  
}
.hero {
position: relative;
}