/* ------------HEADER----------- */
/* HEADER-MOBILE 414px+ */

.header {
  position: absolute;
  height: 143px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header-room {
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header-container {
  display: flex;
}

.header-logo {
  align-items: center;
  font-family: 'FilmP3';
  font-style: normal;
  font-size: 36px;
  line-height: 1.083;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-right: 52px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--white);
}

.navigation-list {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 16px;
  gap: 20px;
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navigation-adress {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--akzent-yellow);
  margin-right: 6px;
}

.navigation-restaurant-icon {
  fill: rgba(243, 198, 83, 0.7);
}

.navigation-hotel-icon {
  fill: rgba(243, 198, 83, 0.7);
}

/* /HEADER-MOBILE 414px+ */

/* Зміни оформлення для екранів 320px */
@media screen and (max-width: 400px) {
  .header-container {
    align-items: center;
  }
  .navigation-restaurant-icon {
    margin-right: 10px;
  }
  .header-logo {
    margin-right: 13px;
    font-size: 30px;
  }
  .header {
    width: 100%;
  }
  .navigation-adress {
    font-size: 12px;
    justify-content: right;
  }
  .navigation-list {
    padding-top: 28px;
  }
}
/* /Зміни оформлення для екранів 320px */

/* Приховування елементів  */
@media screen and (max-width: 1279px) {
  .header-tel {
    display: none;
  }

  .header-social {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header-adress {
    display: none;
  }
}
/* /Приховування елементів  */

/* ------HEADER TABLET 1024+ --------*/
@media screen and (min-width: 1024px) {
  .header-logo {
    font-size: 40px;
    margin-right: 207px;
    padding-top: 24px;
    padding-bottom: 33px;
  }

  .navigation-list {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    gap: 72px;
  }

  .navigation-adress {
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-right: 32px;
  }

  .header-tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--white);
  }

  .adress-tell {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px 8px 8px 8px;
  }
  .navigation-restaurant-icon {
    margin-right: 4px;
  }
  .navigation-hotel-icon {
    margin-right: 4px;
  }
}

/* ------/HEADER TABLET 1024+ --------*/

/* ------/HEADER DESKTOP 1280+ --------*/

@media screen and (min-width: 1280px) {
  .header-logo {
    margin-right: 135px;
  }
  .header-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 21px;
  }
  .header-navigation {
    margin-right: 142px;
  }

  .header-social-icon {
    fill: rgba(243, 198, 83, 0.7);
  }
}
