/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./about-our-kitchen.css');
@import url('./contacts.css');
@import url('');
@import url('');
@import url('');
@import url('');
@import url(./header.css);
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');
@import url('');


@import url('');
@import url('');
@import url('./modals.css');


@import url('./hero.css');
@import url('./hero-restaurant');
@import url('./hero-hotel.css');

































